<div class="footer">
<div style="background-color: #425256; max-height:50px;">
        <div class="container">
            <!--Grid row-->
            
                <!--Grid column-->
                
                <span style= "font-family: 'Niconne';font-size: 20px;">Get in contact with me through social networks! </span>
                    <a class="li-ic" href = "https://www.linkedin.com/in/tarek-ait-hamouda" target = "_blank">
                        <i class="fab fa-linkedin" style="font-size:20px" ></i>
                    </a>
                    <!--GitHub-->
                    <a class="pin-ic" href = "https://github.com/tarekait1996" target = "_blank">
                        <i class="fab fa-github" style="font-size:20px"></i>
                    </a>
                <!--Grid column-->
            </div>
            <!--Grid row-->
        
    </div>
</div>

	</body>
</html>

