
<link rel = "stylesheet" href = "/navStyle.css">
<style>
 .nav-link.active {
    color: rgba(0, 0, 0, 0.9);
     text-shadow: 0.3px 0.3px;
     
}
  .dropdown-item{
            color: rgba(0,0,0,.5);
            background: transparent;
            
  }
  .dropdown-item.active, .dropdown-item:active{
            color: rgba(0,0,0,.9);
            text-shadow: 0.3px 0.3px;
            background: transparent;
            
  }
</style>
</head>

<body>
<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    
    <a class="navbar-brand" href="/">Tarek Ait</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="/about">About Me</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Project
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/rgb-game">RGB game</a>
            <a class="dropdown-item" href="/to-do-list">To do list</a>
          </div>
        </li>
        
      </ul>
    </div>
</nav>

<script>
$(document).ready(function () {
    var links = $('a');
    $.each(links, function (key, va) {
        if (va.href == document.URL) {
            $(this).addClass('active');
        }
    });
  
});
</script>