<% include partials/header %>
<link rel="stylesheet" type="text/css" href="/AboutStyle.css">
	</head>
		<% include partials/navbar %>
		
		<div class ="container">
		<div class="jumbotron">
			
		<div class = " row">
			<div class = "col-md-12 col-sm-12 col-lg-6" style = "text-align : center;">
				<img style = "margin:0 auto;" id = "profile" class="img-thumbnail" alt = "profile picture" src = "/images/profile1.jpg">
			</div>
			<div class = "aboutMe col col-md-12 col-sm-12 col-lg-6">
				<p >
				<span class = "special" style = "font-size: 50px;">Software Engineering Student Concordia University</span>
				<br/>
				<span class = "special" style = "font-size: 30px;">Member of the Co-Op institute</span>
				<hr class="light my-4" style ="border-top: 1px solid black;">
				</p>
				<p class = "summary">
					<% include partials/summary.txt %>
				</p>
				<span style ="text-align:center;">
				<i class="fab fa-java"></i>
				<i class="fab fa-js-square"></i>
				<i class="fab fa-html5"></i>
				<i class="fab fa-css3-alt"></i>
				<i class="fab fa-php"></i>
				<i class="fab fa-node-js"></i>

				</span>
			</div>
		</div>
		</div>
		</div>
         </body>
         </html>