<% include partials/header %>
<link rel="stylesheet" type="text/css" href="/AboutStyle.css">
	</head>
		<% include partials/navbar %>
		
		<div class ="container">
		<div class="jumbotron">
			
		<div class = " row">
			<div class = "col-md-12 col-sm-12 col-lg-6" style = "text-align : center;">
				<img style = "margin:0 auto;" id = "profile" class="img-thumbnail" alt = "profile picture" src = "/images/profile.jpg">
			</div>
			<div class = "aboutMe col col-md-12 col-sm-12 col-lg-6">
				<p >
				<span class = "special" style = "font-size: 50px;">Software Engineering Student at Concordia University</span>
				<br/>
				<span class = "special" style = "font-size: 30px;">Member of the Co-Op institute</span>
				<hr class="style-three" style="display: inline-block;" align = "center" width="200px">
				</p>
				<p class = "summary">
					Since I was a kid I always wanted to create something that could help people and bring them together. 
					When I found out about programming and how powerful this tool can be, I immediately fell in love with it and it quickly became my passion. 
					I decided to attend Concordia University to pursue a degree in Software Engineering in order to gain more knowledge of the field.
					Currently working on small projects and learning new high-level languages, my goal would be to work alongside a team of individuals who share
					the same passion as me and build innovative tools and technologies.
				</p>
			</div>
		</div>
		</div>
		</div>
		<div class ="containerdivNewLine" style ="margin-bottom:100px;">
			
		</div>
         <% include partials/footer %>