<%include partials/header %>
    <style> 
    *{
      padding:30; margin:0;
    }
    canvas {
      background-image:url("/images/gameBg.png");
      background-repeat: no-repeat;
      background-size: auto;
      background-position: center;
      display: block;
      margin: 0 auto;
      border : 5px solid blue;
      
      
    }
    body {
      background-image:url("/images/gameBackground.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
      background-position: center;
      
    }
    #waste {
      height: 70px;
    }
    .jumbotron {
      width:720px;
    }
  
    </style>
    
    <%include partials/navbar %>
    <div id ="waste"> </div>
    
    <div class="container" align= center >
    <div class = "jumbotron" >
      <canvas id= "myCanvas" width = "480" height="520">
      </canvas>
      <div id = "h" align = center>
        <br/>
        <button id = "play" type="button" class="btn">Play!</button>
        <br/>
        <p style = "color:white">Better Design Comming Soon</p>
      </div>
    </div>
    </div>
    <script>
    $('#play').click(function(){
      $("canvas").css("background-color", "#EEE");
      $("canvas").css('background-image', 'none');
      $.getScript('/game.js');
      
    });
    </script>
    
     
    
  </body>
</html>
