<%include partials/header %>
<link rel="stylesheet" type="text/css" href="/ideaStyle.css">
</head>
<%include partials/navbar %>

<!-- Header of the page -->
 <header id = "banner"class="masthead text-center text-white d-flex">
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h1 class="text-uppercase">
              <strong>Welcome to my Personal Website</strong>
            </h1>
            <br/>
              Here, you will be able to learn more about me
            <hr>
          </div>
          <div class="col-lg-8 mx-auto">
            <p class="text-faded mb-5">If you want a small description of who I am, don't hesitate to click on the button below!</p>
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="/about">About Tarek</a>
          </div>
          
        </div>
      </div>
    </header>
    <!--Banner -->
    
    <section id = "bannerTwo" >
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading text-white">Currently available for an Internship</h2>
            <hr class="light my-4">
            <p class="text-faded mb-4">I am currently looking for a fall 2018 internship</p>
            <a class="btn btn-light btn-xl js-scroll-trigger" style = "background-color:tomato; color : white;" href="/resume.pdf">My Resume</a>
          </div>
        </div>
      </div>
    </section>
   <!-- small header for projects-->
   <div id = "headprojects">
	    <h1>
	          <strong>projects</strong>
	          <hr class="my-4">
	    </h1>
    </div>
     <section class="p-0" id="portfolio">
      <div class="container-fluid p-0">
        <!-- First row of projects-->
        <div class="row no-gutters popup-gallery">
          
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
            <a class="portfolio-box" href="/rgb-game">
              <img class="/images-fluid" src="/images/project1.png" alt="" style = "width : 100%; height : 100%">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Web-App
                  </div>
                  <div class="project-name">
                    RGB Color Game
                  </div>
                </div>
              </div>
            </a>
          </div>
          
          <div class=" col-xl-6 col-lg-6 col-md-6 col-sm-12">
            <a class="portfolio-box" href="/to-do-list">
              <img class="/images-fluid" src="/images/project2.png" alt="" style = "width : 100%; height : 100%">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Web-App
                  </div>
                  <div class="project-name">
                    To-Do List
                  </div>
                </div>
              </div>
            </a>
          </div>
          
        </div>
        <div class="row no-gutters popup-gallery">
          
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
            
            <a class="portfolio-box" href="https://github.com/tarekait1996/BitcoinApp">
              <img class="/images-fluid" src="/images/ios1.png" alt="" style = "width : 100%; height : 100%">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    IOS-App
                  </div>
                  <div class="project-name">
                    BitcoinApp
                  </div>
                </div>
              </div>
            </a>
          </div>
          
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
            <a class="portfolio-box" href="https://github.com/tarekait1996/QuizApp">
              <img class="/images-fluid" src="/images/ios2.png" alt="" style = "width : 100%; height : 100%">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    IOS-App
                  </div>
                  <div class="project-name">
                    Java Quiz-App
                  </div>
                </div>
              </div>
            </a>
          </div>
          
      </div>
        
    </section>
<!--
	<div class ="bg">
		<div class = "container">
			<div class = "row">
				<div class = "col-lg-12">
					<div id = "content">
						<span class = "special" style ="font-size : 50px">Welcome to my personal WebPage </span><br/>
						<span class = "special" style ="font-size : 30px">Here you will be able to find what I am working on at the moment</span>
						<hr>
						<br/>
						<button type="button" class="btn btn-outline-light"><a id = "resume" style = "color : #adbce6; border-color: white;" href = "/resume.pdf"> See my Resume </a></button>
					</div>
				</div>
			</div>
	</div>
	-->
<%include partials/footer %>