<%include partials/header %>
<link rel="stylesheet" type="text/css" href="/ideaStyle.css">
</head>
<%include partials/navbar %>
	<div class ="bg">
		<div class = "container">
			<div class = "row">
				<div class = "col-lg-12">
					<div id = "content">
						<span class = "special" style ="font-size : 50px">Welcome to my personal WebPage </span><br/>
						<span class = "special" style ="font-size : 30px">Here you will be able to find what I am working on at the moment</span>
						<hr>
						<br/>
						<button type="button" class="btn btn-outline-light"><a id = "resume" style = "color : #adbce6; border-color: white;" href = "/resume.pdf"> See my Resume </a></button>
					</div>
				</div>
			</div>
	</div>
	
<%include partials/footer %>